# Server configuration
PORT=5000
NODE_ENV=development

# Database configuration (Standard PostgreSQL URL)
DATABASE_URL="postgresql://username:password@localhost:5432/leaklens?schema=public"

# Authentication Secrets
JWT_ACCESS_SECRET="your_jwt_access_token_secret_minimum_32_characters"
JWT_REFRESH_SECRET="your_jwt_refresh_token_secret_minimum_32_characters"

# CORS configuration
CORS_ORIGIN="http://localhost:3000"

# Cloudinary configuration (Phase 5)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
